@model int

<td style="width: 150px">
    <div class="btn-group">
        <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@Model">Edit</a>
        <a asp-action="Details"  class="btn btn-success" asp-route-id="@Model">Details</a>
        <a asp-action="Delete"  class="btn btn-danger" asp-route-id="@Model">Delete </a>
    </div>
</td>

@*the class is intended for internal use within the project and
should not be used by external code.
It is a naming convention used to indicate 
the intended level of visibility and accessibility of the class*@